<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRATE ALBUM :DDD</title>
</head>
<body>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="Message title" value="{{ request.form['title'] }}"></input>
        <br>
        <label for="subtitle">Subtitle</label>
        <br>
        <input type="text" name="subtitle" placeholder="Message title" value="{{ request.form['subtitle'] }}"></input>
        <br>
        <label for="content">Images (they're split by spaces or newlines i think work too :D)</label>
        <br>
        <textarea name="content" placeholder="Message content" rows="15" cols="60">{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>